$primary-color: #26356E;
$dark-ground-color: #07133D;
$highlight-color: #526198;
$highlight-lighter: #6170A7;
$pop-color: #a34f2a;
$pop-highlight-color: #f6a681;
$positive-color: #48987A;

$font-stack: 'Raleway', Helvetica, sans-serif;